{% load static %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <div class="login-box">
    <div class="lb-header">
      <body>
      <link rel="stylesheet" href="{% static 'style.css'%}">
      <!-- <script src="{% static 'merge.js'%}"></script> -->
      <a href="#" class="active" id="login-box-link">ADMIN LOGIN</a>
      <a href="#" id="signup-box-link">EMPLOYEE LOGIN</a>
    </div>

        <div class="social-login">
            <a href="https://www.luminadatamatics.com/">
            <i class="container"></i>
                  WEBSITE
            </a>
        </div>
    
    <form class="email-login">
      <div class="u-form-group">
        <label for="email"></label>
        <input type="email"   placeholder="Email" class="form-control" id="email" name="email">
    </div>
    <div class="u-form-group">
        <label for="password"></label>
        <input type="password"  placeholder="Password" class="form-control" id="password" name="password">
    </div>

    <div class="u-form-group">
    <button  type="login" href="{% url 'employee_list' %}" class="btn btn-primary" onclick="auth()">Login</button></div>

      <script>
        function auth(){
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            if(email=="admin@gmail.com" && password=="123"){
                window.location.assign("employee_list");
                alert("login success")
          }
            else{
                alert("invalid information");
                window.location.assign("");
                return
          }
        }
    
      </script>
</form>
    <form class="email-signup">
      <div class="u-form-group">
        <label for="email"></label>
        <input type="email" placeholder="Email" placeholder="Email" class="form-control" id="email1" name="email">
      </div>
      <div class="u-form-group">
        <label for="password"></label>
        <input type="password" placeholder="Password" class="form-control" id="password1" name="password">
      </div>
      <div class="u-form-group">
        <button type="login" href="{% url 'cata' %}" class="btn btn-primary" onclick="autha()">LOGIN</button>
      </div>
      
      <script>
        function autha(){
            var email = document.getElementById("email1").value;
            var password = document.getElementById("password1").value;
            

            if(email=="haresh@gmail.com","dharun@gmail.com" && password=="123"){
              window.location.assign("cata");
              alert("login success")
          }
            else{
                alert("invalid information");
                window.location.assign("");
                return




          }
        }
    
      </script>
      

    </form>
  </body>
  <script src="{% static 'merge.js'%}"></script>

</div>